ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 1.1em;
    font-size: 20px;
  }
  
  li a:hover {
   background-color: #007bff;
    border-radius: 2.1rem;
    transition: 1s;
  }
 